extends layout

//trying to realize Buckys ejs examples using jade...


block content 
  
  //include another jade-file
  include ./templates/header.jade

  h1= title
  p Welcome to #{title}
  
  //added a variable
  p My name is #{myName}

  //external jade tutorial
  //removed further jade tutorial examples to separate file.  
  p.
    Jade tutorial video: <a href="https://youtu.be/l5AXcXAP4r8">View here</a>
    <br>
    My own examples written while whatching the tutorial: <a href="jade_tutorial_1">link...</a>
